footer{
    background-color:  var(--background-secundary);
    display: flex;
    text-align: center;
    justify-content: center;

}



.footer-content{
    display: flex;
    text-align: center;
    max-width: 40rem;
    padding: 6rem 2rem 0;
    margin-bottom: 0;
    margin-top: 0;
}

footer .footer-content ul li{

    display: inline-block;

}

footer .footer-content ul a{

    display: inline-block;
    padding: 1rem;
}

footer .footer-content .footer-copyright{

   font-size: 1.4rem;
}


.footer-content .contact-footer img{

    width: 20%;
}

.text-footer{

    font-size: 1.5rem;
}

#contact {
    
    background-color: var(--background-secundary);
    box-sizing: border-box;
    
}

@media only screen and (max-width: 1024px){

    #contact{

        min-height: 50vh;
    }

}