:root{
   
    --background-primary: rgb(238, 238, 238);
    --background-secundary: #e6e5e5;
    --primary-color:#3D6BD7;
    --text-color:black;
    --switch-bg-url: url(/fotos/sun.svg);
    --surface-color: rgba(0, 0, 0, 0.1);
    
    
}

.darkmode{
    
    --background-primary: #1e1e1e;
    --background-secundary: #1d1d1d;
    --primary-color: #3D6BD7;
    --text-color: #F5F5F5;
    --switch-bg-url: url(/fotos/moon.svg);
    --surface-color: rgba(255, 255, 255, 0.1);
}





*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    margin-top: 13rem;
    background-color: var(--background-primary);
}
.hidden {
    opacity: 0;
}
h1{
    font-size: 13rem;
    font-weight: 700;
    color:var(--text-color);
    
}

h2 {
    font-size: 5.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  h3{
    font-size: 3.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: 600;
  }

.max-width{
    width: 100%;
    max-width: 125rem;
    padding: 0.3rem;
    margin: 0 auto;
    margin-bottom: 20rem;
}

.custom-btn {
    background-color: var(--primary-color);
    border: none;
    padding: 2rem 4rem;
    display: flex;
    border-radius: 1rem;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-decoration: none;
    max-width: 20rem;
  }
  
  .custom-btn:hover {
    transform: scale(1.1);
  }

p{
    color: var(--text-color);
    margin: 0 1.5rem;
}

section{

    min-height: 80vh;
}


@media only screen and (max-width: 1024px){
    html{
        font-size: 70%;
        margin: 0 2rem;
       
    }
    h1{
        font-size: 6rem;
    }

}

@media only screen and (max-width: 768px){
    html{
        font-size: 50%;
    
    }

    .max-width{
        padding: 1rem;
        max-width: 90%;
        margin-bottom: 5rem;
    }
     
    
  
}

@media only screen and (max-width: 425px){
    html{
        font-size: 40%;
    
    }
    h1{
        font-size: 4rem;
    }

    h2{

        font-size: 3.5rem;
    }
}
