.division-skills {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  justify-items: center;
}


.division-skills img{

    width: 40%;
    
}


.division-skills p{

    text-align: center;
    font-size: 1.2rem;
}

.title-skills{

    text-align: center;
}

.skill {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(20rem, 1fr));
    justify-items: center;
    align-items: center; 
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: var(--background-primary)
    
}

.skill-card {
  width: 100%;
  height: 200px;
  perspective: 1000px;
 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  border-radius: 10px;
}

.skill-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}



.card-back {
 
  transform: rotateY(180deg);
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.title-card{

    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1rem;
}



.skill1{

    -webkit-box-shadow: 0px 0px 8px 2px #E44D26;
    -moz-box-shadow: 0px 0px 8px 2px #E44D26;
    box-shadow: 0px 0px 8px 2px #E44D26;

}

.skill1 .title-card{

    color: #E44D26;
}

.skill2{

    -webkit-box-shadow: 0px 0px 8px 2px #0277BD;
    -moz-box-shadow: 0px 0px 8px 2px #0277BD;
    box-shadow: 0px 0px 8px 2px #0277BD;
}

.skill2 .title-card{

    color: #0277BD;
}

.skill3{

    -webkit-box-shadow: 0px 0px 8px 2px #E5B045;
    -moz-box-shadow: 0px 0px 8px 2px #E5B045;
    box-shadow: 0px 0px 8px 2px #E5B045;
}

.skill3 .title-card{

    color: #E5B045;
}

.skill4 {

    -webkit-box-shadow: 0px 0px 8px 2px #F03C2E;
    -moz-box-shadow: 0px 0px 8px 2px #F03C2E;
    box-shadow: 0px 0px 8px 2px #F03C2E;
    
}

.skill4 .title-card{
    color: #F03C2E;
}

.skill5{

    -webkit-box-shadow: 0px 0px 8px 2px #313FA0;
    -moz-box-shadow: 0px 0px 8px 2px #313FA0;
    box-shadow: 0px 0px 8px 2px #313FA0;
}

.skill5 .title-card{

    color: #313FA0;
}

.skill6{

    -webkit-box-shadow: 0px 0px 8px 2px #874FFF;
    -moz-box-shadow: 0px 0px 8px 2px #874FFF;
    box-shadow: 0px 0px 8px 2px #874FFF;
}

.skill6 .title-card{

    color: #874FFF;
}

.skill7{

    -webkit-box-shadow: 0px 0px 8px 2px #98CCFD;
    -moz-box-shadow: 0px 0px 8px 2px #98CCFD;
    box-shadow: 0px 0px 8px 2px #98CCFD;
}

.skill7 .title-card{

    color: #98CCFD;
}

.skill8{

    -webkit-box-shadow: 0px 0px 8px 2px #3775A8;
    -moz-box-shadow: 0px 0px 8px 2px #3775A8;
    box-shadow: 0px 0px 8px 2px  #3775A8;
    
}

.skill8 .title-card{

    color: #3775A8;;
}


@media only screen and (max-width: 1024px){

    #skills{

        margin-bottom: 10rem;
    }

    .division-skills{
        grid-template-columns: repeat(1, 1fr);
    }

    .card-inner .card-back p{

        font-size: 2rem;
    }


    
}
