.navbar {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    background-color: var(--background-secundary);
}

.navbar .nav-content {
    padding: 1rem 4rem 2rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.navbar .nav-content a {
   
    cursor: auto;
}

.navbar .nav-content a img {
    width: 25%;
    cursor: pointer;
}


.navbar .nav-content .links li {
    display: inline-block;
}

.navbar .nav-content .links li a {

    padding: 1rem 1rem 0.2rem;
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.8rem;
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-content .links li a.active,
.navbar .nav-content .links li a:hover {
    color: #3D6BD7;
    cursor: pointer;
    font-weight: bold;
}

.navbar .nav-content .links li a::after {
    content: "";
    width: 0%;
    height: 0.4rem;
    background-color: #3D6BD7;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.navbar .nav-content .links li a.active::after,
.navbar .nav-content .links li a:hover::after {
    width: 100%;
}

.navbar.active{
    box-shadow: 0 0.3rem rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
}

ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#switch{

    position: relative;
    width: 66px;
    top: 2%;
   
}

#switch button{

    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    
   
   
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--text-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;

}

.darkmode #switch button{

    right: 0;
    left: initial;
}

#switch button:hover{

    cursor: pointer;
}

.navbar .nav-content .navbar-mobile,
.navbar .nav-content .navbar-mobile .mobile-links{

    display: none;
}

@media only screen and (max-width: 1024px){

  

    .navbar .nav-content .links{
        display: none;
    }

    

    .navbar .nav-content .navbar-mobile {
        display: flex;
        align-items: center;
    }

    .navbar .nav-content .navbar-mobile img{

        cursor: pointer;
        position: relative;
        right: 100%;
       
    }

    .navbar .nav-content .navbar-mobile.active .mobile-links{
        display: flex;
        flex-direction: column;
        background-color: var(--background-secundary);
        width: 100%;
        position: absolute;
        top: 98%;
        left: 0;
        padding: 1rem 0;
        box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .navbar .nav-content .navbar-mobile.active .mobile-links li{

       margin-right: 0; 
       margin: 0.8rem;
    
    }

    .navbar .nav-content .navbar-mobile.active .mobile-links li a{
        
        padding: 1rem;
        display: block;
        text-align: center;
       
        font-size: 1.8rem;
        color: var(--text-color);
    
    }



    .navbar .nav-content .navbar-mobile.active .mobile-links #switch {
        
        left: 45%;
        
    }
    
 

    .navbar .nav-content .navbar-mobile.active .mobile-links li a:hover {

        color: #3D6BD7;
        cursor: pointer;
        font-weight: bold;
    }
    

  
    

}
