.project{

    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.projects-content p{
    
    font-size: 2rem;
    padding: 2rem 0;
    text-decoration: bold;
    text-align: start;
}
.body-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.slider-personal{
    
    margin: 0 auto;
    width: 100rem;
    height: 50rem;
    overflow: hidden;
    border: solid 3px var(--tittle-color);
}

.slider-institucional{
    
    margin: 0 auto;
    width: 100rem;
    height: 50rem;
    overflow: hidden;
    border: solid 3px var(--tittle-color);
}

.slides{

    width: 200%;
    height: 50rem;
    display: flex;
    
}

.slides input{
    display: none;
}

.slide{
    width: 100%;
    position: relative;
    transition: transform 1s;
}

.slide img{
    width: 101rem;

}

.manual-navigation{
    position: absolute;
    width: 100rem;
    margin-top: -2.5rem;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 2rem;
}

.manual-btn:hover{
    background-color:#3D6BD7;
}





.navigation-auto div{
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100rem;
    margin-top: 47.5rem;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 2rem;
}
/* CASO EU ADICIONE ALGO NOS PROJETOS PESSOAIS */

#radio1:checked ~ .slide {
    transform: translateX(0);
}


#radio2:checked ~ .slide {
    transform: translateX(-100%);
}



#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:#3D6BD7;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color:#3D6BD7;
}




/* INSTITUCIONAIS */

#radio1-custom:checked ~ .slide {
    transform: translateX(0);
}

#radio2-custom:checked ~ .slide {
    transform: translateX(-100%);
}

#radio3-custom:checked ~ .slide {
    transform: translateX(-200%);
}


#radio1-custom:checked ~ .navigation-auto .auto-btn1-custom {
    background-color:#3D6BD7;
}

#radio2-custom:checked ~ .navigation-auto .auto-btn2-custom {
    background-color:#3D6BD7;
}

#radio3-custom:checked ~ .navigation-auto .auto-btn3-custom {
    background-color:#3D6BD7;
}

/* Descrição dos projetos */

.project-info {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: bold;
    

}

.text-project {
    width: 100%;
    margin-bottom: 10px;
    line-height: 2.1rem;
    text-align: center;
    font-size: 1.6rem;
    color: #F5F5F5;
    margin: auto;
 
}

.btn-container {
    display: flex;
    justify-content: space-between;

}

.btn-container a {
    margin: 0.5rem;

}



@media only screen and (max-width: 1024px){

    .slider{
       
        margin: auto;
        width: 80%;
        height: 100%;
    }

    .slide{
        width: 100%;
        position: relative;
        transition: transform 1s;
    }
    
    .slide img{
        width: 100%;
        
    }


    
    .navigation-auto{

        width: 72%;

    }
    
    .manual-navigation{

        width: 72%;
      
    }
    .projects-content p{

        text-align: justify;

    
    }

    .slider{

        min-height: 320px;
    }

    .text-project {
        
        line-height: 2.5rem;
        
    }

    .project-info{
        
        height: 100%;
        min-height: 320px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .btn-container {
      
      
        position: absolute;
        top: 85%;
        width: 80%;
    
    }

    .custom-btn {

       padding: 0.5rem 1.5rem;
    }

  
}

