.projects{


    justify-content: center;
   
    padding: 0;
    width: 100%;
    height: auto;
}

.personal-projects{
    display: inline;
    justify-content: center;
}
.project-image img{

    width: 70%;
}

.right-side img{

    width: 70%;
}

.project-image{
    display: flex;
    flex-direction: row;
}

.right-side{
    display: flex;
    flex-direction: row-reverse;
}

